.TodoCounter{
    text-align: center;
    font-weight: bold;
    color: var(--color-primary);
    width: auto;
    padding: 10px;
    margin: 0 auto;
    
}
.TodoCounter span{
    font-weight:700
}
.aja{
    background-color: aqua;
    font-size: 24px;
    text-align: center;
    margin: 0;
    padding: 48px;
    font-weight: 400;
}
.TodoCounter-container{
    background-color: var(--color-white);
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    padding-bottom: 10px;
}

.all-todos-has-completed{
    text-decoration: line-through wavy var(--color-black);
    text-decoration-thickness: 0.15em;
}